#stages {
	background: linear-gradient(0deg, rgba(55, 64, 71, 0.6), rgba(55, 64, 71, 0.6)), url(../img/order/bg.png);
}

.stages_wrapper {
	padding: 80px 0;
}
.stages-title_block {
	text-align: center;
	margin-bottom: 50px;
}
.stages-title {}
.section-title {}
.stages-text {
	font-weight: 500;
	font-size: 24px;
	line-height: 28px;
	text-align: center;
	color: #FFFFFF;
}


.stages-cards {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
}

.stages-card_wrapper {
	flex-basis: calc(100% / 3);
	padding: 15px;
}

.stages-card {
	display: flex;
	align-items: center;
}	
.stages-img_block {
	min-width: 60px;
	max-width: 60px;
	height: 60px;
	margin-right: 20px;
}

.stages-card_content {}
.stages-card_title {
	font-weight: 500;
	font-size: 18px;
	line-height: 22px;
	color: #E86B21;
	margin-bottom: 10px;
}
.stages-card_text {
	font-weight: 500;
	font-size: 16px;
	line-height: 20px;
	color: #FFFFFF;
}


@media (max-width: 992px) {
	.stages-card_wrapper {
		flex-basis: calc(100% / 2);
		padding: 15px;
	}
}


@media (max-width: 768px) {

	
	.stages-card_title, .stages-card_text {
		font-size: 14px;
		line-height: 14px;
	}


	.stages-card_img {
		width: 50px;
		height: 50px;
	}

	.stages-text {
		font-size: 13px;
		line-height: 15px;
	}

	.stages-img_block {
		margin-right: 0;
	}

}

@media (max-width: 576px) {

	.stages-card_wrapper {
		padding: 20px 5px;
	}

	.stages-card {
		flex-direction: column;
	}

	.stages-card_content {
		text-align: center;
	}

	.stages_wrapper {
		padding: 30px 0;
	}

	.stages-card_title {
		font-size: 12px;
		line-height: 14px;
	}

	.stages-card_text {
		font-size: 12px;
		line-height: 14px;
	}
	
	.stages-title_block {
		margin-bottom: 20px;
	}

}